[submodule "sourcedata/templateflow"]
	path = sourcedata/templateflow
	url = http://datasets.datalad.org/templateflow/.git
	datalad-id = c79c47b6-d0fb-11e8-aa11-64006a8a730f
[submodule "containers"]
	path = containers
	url = git@github.com:courtois-neuromod/containers.git
	datalad-id = b02e63c2-62c1-11e9-82b0-52540040489c
[submodule "sourcedata/smriprep"]
	path = sourcedata/smriprep
	url = git@github.com:courtois-neuromod/anat.smriprep.git
	datalad-id = f3ef9683-0a58-4d2b-b4eb-d33d8fc3fd2b
[submodule "sourcedata/movie10"]
	path = sourcedata/movie10
	url = git@github.com:courtois-neuromod/movie10.git
	datalad-id = 74df9898-c9bb-11e9-85f3-3ea8d101da1a
